dev_ws/build/
dev_ws/build_*/
dev_ws/install/
dev_ws/install_*/
dev_ws/log/
dev_ws/logs/
dev_ws/*.db3
dev_ws/*.bag
dev_ws/*.zip
dev_ws/*.tar.gz
dev_ws/backups*/
dev_ws/*backup*/
*.pyc
__pycache__/
*.swp
.vscode/
.idea/
.DS_Store
dev_ws/**/.git
